<section>
    <div class="challenge-items d-flex justify-content-between">
    <div class="flex-1" (click)="navigateToChallengeDetail()">
        <img src="https://images.elipsport.vn/anh-seo-tin-tuc/2020/12/10/healthy-la-gi-1.jpg"/>
        <p>Image description</p>
    </div>
    <div class="flex-1">
        <img src="https://images.elipsport.vn/anh-seo-tin-tuc/2020/12/10/healthy-la-gi-1.jpg"/>
        <p>Image description</p>
    </div>
    <div class="flex-1">
        <img src="https://images.elipsport.vn/anh-seo-tin-tuc/2020/12/10/healthy-la-gi-1.jpg"/>
        <p>Image description</p>
    </div>
</div>
</section>
