<div #headerComp>
    <div class="flex-center">
    <img src="https://blog.ttisi.com/hubfs/082020_blog.gif" class="max-width"/>

    <!-- <div class="card">
        <div class="card-header">
            You have selected <ng-container [ngTemplateOutlet]="counterTmpl"></ng-container>.
        </div>
        <div class="card-body">
            There are <ng-container [ngTemplateOutlet]="counterTmpl" [ngTemplateOutletContext]="{ label: 'Click here', className: 'btn-primary', icon: null }"></ng-container> was selected.
        </div>
        <div class="card-footer">
            You have selected <ng-container [ngTemplateOutlet]="counterTmpl"></ng-container>.
        </div>
    </div>
    
    <ng-template #counterTmpl
    let-label="label"
             let-className="className"
             let-icon="icon"
    >
        <span class="badge badge-primary">{{ counter }} {{ label }}</span> items
    </ng-template> -->
</div>
